<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/BootstrapJquery/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/FormValidation/css/formValidation.css"/>
    <link rel='stylesheet' href='/MyCss/style.css' />
    <link rel='stylesheet' href='/MyCss/style-imugr.css' />
    <link rel='stylesheet' href='/MyCss/mobile-style-imugr.css' />
    <script src="https://use.fontawesome.com/dcfbf914a0.js"></script>
</head>