<% layout('layout') %>

<% include navbar/navbar %>

<!-- bad de page -->
<div class="inscription">
    <div class="container">
       <h4><span class="ityped"></span></h4>
    </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="/MyImg/home.jpg">
    <div id="tabs-home" class="row slider">
        <div class="col-sm-3">
            <nav class="nav-sidebar">
                <ul class="nav tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab"><p>CREACION EMPRESAS</p><span>Constitución de Sociedades</span></a></li>
                    <li class=""><a href="#tab2" data-toggle="tab"><p>MARCAS</p><span>Registro y Renovación</span></a></li>
                    <li class=""><a href="#tab3" data-toggle="tab"><p>MODIFICACION</p><span>Disolucion Sociedades</span></a></li>   
                    <li class=""><a href="#tab4" data-toggle="tab"><p>¿BUSCA UN ABOGADO?</p><span>Laboral-Bienes Raices-Litigios-Contratos</span></a></li>  
                </ul>
            </nav>
        </div>
        <!-- tab content -->
        <div class="col-sm-9 tab-content">
            <div class="tab-pane active text-style fade in active" id="tab1">
                <h2>Su Sociedad Bien Hecha Online</h2>
                <p>Libérese de malos ratos con nuestra garantía de aprobación bancaria de sus estatutos</p>
                <p><strong>Desde $74.990 y 24 hrs.</strong></p>
            </div>
            
            <div class="tab-pane text-style fade" id="tab2">
                <h2>Proteja su Marca Online</h2>
                <p>Evite que otros aprovechen su esfuerzo y buen nombre registrando su marca con LegalProm</p>
                <p><strong>Desde $129.990</strong></p>
            </div>
            
            <div class="tab-pane text-style fade" id="tab3">
                <h2>Modificación y Disolución Sociedades</h2>
                <p>Concrete oportunidades adaptando sus negocios con velocidad y seguridad LegalProm</p>
                <p><strong>Desde $44.990 y 24 hrs.</strong></p>
                <a href="#">Detalle Precio y Plazos</a>
            </div> 
            
            <div class="tab-pane text-style fade" id="tab4">
                <h2>¿Busca un Abogado en Quien Confiar?</h2>
                <p>Miles de clientes han confiado en LegalProm. Muchos huyendo de malos servicios, perdidas de tiempo y dinero.</p>
            </div> 
        </div>
    </div> 
</div>

<br>
<div class="container">
Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Sed porttitor lectus nibh. Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor lectus nibh.
</div>
<br>
<div class="container">
Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Sed porttitor lectus nibh. Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor lectus nibh.
</div>
<br>
<div class="container">
Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Sed porttitor lectus nibh. Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor lectus nibh.
</div>
<br>
<div class="container">
Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Sed porttitor lectus nibh. Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor lectus nibh.
</div>

<% include ./footer/avant-bad-de-page %>

<% include ./footer/bad-de-page %>

<% include ./footer/footer %>