<!-- avant bad de page -->
<div class="abp">
    <div class="container">
        <div class="col-md-3">
            <a href="#" class="a-abp">EMPLOI</a>
            <hr>
            <a href="#" class="a-abp">Offres d'emploi</a>
            <br><br>
            <a href="#" class="a-abp">VEHICULES</a>
            <hr>
            <a href="#" class="a-abp">Voitures</a>
            <br>
            <a href="#" class="a-abp">Moto</a>
            <br>
            <a href="#" class="a-abp">Caravaning</a>
            <br>
            <a href="#" class="a-abp">Utilitaires</a>
            <br>
            <a href="#" class="a-abp">Equipement Auto</a>
            <br>
            <a href="#" class="a-abp">Equipement Moto</a>
            <br>
            <a href="#" class="a-abp">Equipement Caravaning</a>
            <br>
            <a href="#" class="a-abp">Nautisme</a>
            <br>
            <a href="#" class="a-abp">Equipement Nautisme</a>
            <br><br>
            <a href="#" class="a-abp">IMMOBILIER</a>
            <hr>
            <a href="#" class="a-abp">Ventes immobiliéres</a>
            <br>
            <a href="#" class="a-abp">Locations</a>
            <br>
            <a href="#" class="a-abp">Colocations</a>
            <br>
            <a href="#" class="a-abp">Bureaux & Commerces</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="a-abp">VACANCES</a>
            <hr>
            <a href="#" class="a-abp">Locations & Gîtes</a>
            <br>
            <a href="#" class="a-abp">Chambres d'hôtes</a>
            <br>
            <a href="#" class="a-abp">Campings</a>
            <br>
            <a href="#" class="a-abp">Hôtels</a>
            <br>
            <a href="#" class="a-abp">Hébergements insolites</a>
            <br><br>
            <a href="#" class="a-abp">MAISON</a>
            <hr>
            <a href="#" class="a-abp">Ameublement</a>
            <br>
            <a href="#" class="a-abp">Electroménager</a>
            <br>
            <a href="#" class="a-abp">Arts de la table</a>
            <br>
            <a href="#" class="a-abp">Décoration</a>
            <br>
            <a href="#" class="a-abp">Linge de maison</a>
            <br>
            <a href="#" class="a-abp">Bricolage</a>
            <br>
            <a href="#" class="a-abp">Jardinage</a>
            <br>
            <a href="#" class="a-abp">Vêtements</a>
            <br>
            <a href="#" class="a-abp">Chaussures</a>
            <br>
            <a href="#" class="a-abp">Accessoires & Bagagerie</a>
            <br>
            <a href="#" class="a-abp">Montres & Bijouxs</a>
            <br>
            <a href="#" class="a-abp">Equipement bébé</a>
            <br>
            <a href="#" class="a-abp">Vêtements bébé</a>	
        </div>
        <div class="col-md-3">
            <a href="#" class="a-abp">MULTIMEDIA</a>
            <hr>
            <a href="#" class="a-abp">Informatique</a>
            <br>
            <a href="#" class="a-abp">Consoles & Jeux vidéo</a>
            <br>
            <a href="#" class="a-abp">Image & Son</a>
            <br>
            <a href="#" class="a-abp">Téléphonie</a>
            <br><br>
            <a href="#" class="a-abp">LOISIRS</a>
            <hr>
            <a href="#" class="a-abp">DVD / Films</a>
            <br>
            <a href="#" class="a-abp">CD / Musique</a>
            <br>
            <a href="#" class="a-abp">Livres</a>
            <br>
            <a href="#" class="a-abp">Animaux</a>
            <br>
            <a href="#" class="a-abp">Vélos</a>
            <br>
            <a href="#" class="a-abp">Sports & Hobbies</a>
            <br>
            <a href="#" class="a-abp">Instruments de musique</a>
            <br>
            <a href="#" class="a-abp">Collection</a>
            <br>
            <a href="#" class="a-abp">Jeux & Jouets</a>				
        </div>
        <div class="col-md-3">
            <a href="#" class="a-abp">MATERIEL PROFESSIONNEL</a>
            <hr>
            <a href="#" class="a-abp">Matériel Agricole</a>
            <br>
            <a href="#" class="a-abp">Transport - Manutention</a>
            <br>
            <a href="#" class="a-abp">BTP - Chantier Gros-oeuvre</a>
            <br>
            <a href="#" class="a-abp">Outillage - Matériaux 2nd-oeuvre</a>
            <br>
            <a href="#" class="a-abp">Équipements Industriels</a>
            <br>
            <a href="#" class="a-abp">Restauration - Hôtellerie</a>
            <br>
            <a href="#" class="a-abp">Fournitures de Bureau</a>
            <br>
            <a href="#" class="a-abp">Commerces & Marchés</a>
            <br>
            <a href="#" class="a-abp">Matériel Médical</a>
            <br><br>
            <a href="#" class="a-abp">SERVICES</a>
            <hr>
            <a href="#" class="a-abp">Prestations de services</a>
            <br>
            <a href="#" class="a-abp">Billetterie</a>
            <br>
            <a href="#" class="a-abp">Evénements</a>
            <br>
            <a href="#" class="a-abp">Cours particuliers</a>
            <br>
            <a href="#" class="a-abp">Covoiturage</a>
            <br><br>
            <a href="#" class="a-abp">AUTRES</a>
            <hr>
            <a href="#" class="a-abp">Autres</a>
            <br>
        </div>
    </div>
</div>			