<!-- bad de page -->
<div class="bp">
    <div class="container">
        <div class="col-md-3 ">
            <a href="#" class="a-bp">À PROPOS DU BONCOIN</a>
            <hr>
            <a href="#" class="a-bp">Qui sommes-nous</a>
            <br><br>
            <a href="#" class="a-bp">Nous rejoidre</a>
            <br><br>
            <a href="#" class="a-bp">Impact environnemental</a>
            <br><br>
        </div>
        <div class="col-md-3">
            <a href="#" class="a-bp">INFORMATIONS LÉGALES</a>
            <hr>
            <a href="#" class="a-bp">Conditions générales d'utilisation</a>
            <br><br>
            <a href="#" class="a-bp">Règles de diffusion</a>
            <br><br>
            <a href="#" class="a-bp">Condition Générales de Vente</a>
            <br><br>
            <a href="#" class="a-bp">Vie privée / cookies</a>
            <br><br>
            <a href="#" class="a-bp">Vos droits et obligations</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="a-bp">PROFESSIONNELS</a>
            <hr>
            <a href="#" class="a-bp">Publicité</a>
            <br><br>
            <a href="#" class="a-bp">Professionnels de l'immobilier</a>
            <br><br>
            <a href="#" class="a-bp">Vos recrutements</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="a-bp">DES QUESTIONS ?</a>
            <hr>
            <a href="#" class="a-bp">Aide</a>
            <br><br>
            <a href="#" class="a-bp">Nous contacter</a>
        </div>
    </div>
</div>