<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" id="menu">Side.Sag</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/ecommerce">Ecommerce</a></li>
            <li><a href="/onSale">On Sale</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if (user) { %>
                <li><a href='#'>Welcome <%= user.username %></a></li>
                <li><a href="/logout">Logout</a></li>
                <form class="navbar-form navbar-left" action="/search">
                    <div class="form-group">
                    <% if( typeof searchText!=='undefined' ){ %>
                        <input type="text" name="q" value="<%= searchText %>" class="form-control" placeholder="Search...">
                    <% } else { %>
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                    <% } %>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            <% } %>
            <% if (!user) { %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register / Login <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </li>
            <% } %>
        </ul>
    </div>
</nav>

<div class="sidebar">
    <div style="height: 100px;"></div>
    <a href="/profile"></span>Mon compte</a>
    <a href="/add-product">add-product</a>
    <a href="/advanced"></span>advanced-search</a>
    <a href="#"></span>Ma playlist</a>
    <a href="#"></span>Se deconnecter</a>
    
    <svg id="sidebar-wave" class="sidebar-wave" width="100%" height="100%" viewBox="0 0 200 900" version"1.1" preserveAspectRatio="none">
        <path d="M200,0c0,0 -200,46.405 -200,177c0,130.595 126.228,90.241 149,287c22.772,196.759 51,436 51,436l32,0l-4,-900l-28,0Z"
        data-to="M0,0c0,0 0,46.405 0,177c0,130.595 1.152,98.101 0,296c-1.153,198.07 0,427 0,427l200,0l0,-900l-200,0Z"/>
    </svg>

</div>